@import "../../global.scss";

.intro {
  background-color: #800020;
  display: flex;
  height: auto !important;

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.25;
    overflow: hidden;

    .imgContainer {
      width: 400px;
      height: 400px;
      margin-top: 90px;
      background-color: orange;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: left;
      float: right;

      @include mobile{
        align-items: flex-start;
        width: 290px;
        height: 290px;
        margin-top: 33px;
      }

      img {
        height: 90%;

        @include mobile{
          height: 90%;
        }
      }
    }
  }
  .right {
    flex: 0.7;
    position: relative;
    justify-content: flex-end;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile{
        padding-left: 0;
        align-items: center;
        display:block;
        margin-top:-58px;
      }

      h1 {
        font-size: 65px;
        margin-top: 90px;
        text-align: center;

        @include mobile{
          font-size: 40px;
          text-align: center;
        }
      }

      h2 {
        text-align: center;
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      #intro-list {
        font-size: 20px;
        margin-right: 50px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;

        @include mobile{
          font-size: 20px;
          text-align: center;
          margin-left: 35px;
        }
      }

      h3 {
        font-size: 20px;
        margin-right: 50px;
        text-align: center;

        @include mobile{
          font-size: 20px;
          text-align: center;
          margin-left: 35px;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}